# Final Fantasy Tactics Data to Neo4j

I've always wanted to learn more about graph databases, and what better way then to take a dataset and try to load it and extract the data. 

So when I get a chance to find data on Kaggle for a game that I love, in Final Fantasy Tactics for the Playstation, I knew I had to take the chance to load it into a graph database. It's a great way to learn how Cypher works.

[Source](https://www.kaggle.com/datasets/andrewparnell/final-fantasy-tactics-battles)

## Installing packages

Not just Pandas and Numpy is needed, you need the neo4j and graphdatascience package to access the database

In [1]:
# Install the rare packages needed
!pip install neo4j-driver
!pip install graphdatascience==1.0.0

Requirement already satisfied: neo4j-driver in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (5.6.0)
Requirement already satisfied: pytz in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from neo4j-driver) (2022.5)

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: graphdatascience==1.0.0 in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (1.0.0)
Requirement already satisfied: pandas<2.0,>=1.0 in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from graphdatascience==1.0.0) (1.5.1)
Requirement already satisfied: neo4j<5.0,>=4.4.2 in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from graphdatascience==1.0.0) (4.4.10)
Requirement already satisfied: pytz in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from neo4j<5.0,>=4.4.2->graphdatascience==1.0.0) (2022.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from pandas<2.0,>=1.0->graphdatascience==1.0.0) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from pandas<2.0,>=1.0->graphdatascience==1.0.0) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\christopher\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0,>=1.0->graphdatascience==1.0.0) (1.16.0)

WARNING: There was an error checking the latest version of pip.

In [2]:
# Importing the needed packages
import pandas as pd
import numpy as np
from graphdatascience import GraphDataScience
from myClassConnectToNeo4J import Neo4JConnection

In [3]:
# Connecting to the database (using localhost because I'm too cheap right now to get a Sandbox :P )
gds = Neo4JConnection()

In [4]:
# Clearing the data so I can start fresh
gds.clearDatabase()

True

## Loading the data into Dataframes

There are three csv files that need to be loaded
1. fft_jobs.csv - Contains all the jobs, the prerequisites and the stats added
1. fft_skills.csv - A collections of the jobs found, the skills per each, and how much job points(JP) are needed
1. fft_red-battles.csv - A collection of all the battles in the game, and the jobs of all the enemies

In [5]:
# Load all three tables into a dataframe to have a look
jobs       = pd.read_csv('data/fft_jobs.csv',sep=',',encoding = "ISO-8859-1")
redbattles = pd.read_csv('data/fft_red-battles.csv',sep=',',encoding = "ISO-8859-1")
skills     = pd.read_csv('data/fft_skills.csv',sep=',',encoding = "ISO-8859-1")

In [6]:
# For the level numbers, the next chapter is added as a new column so that it can be connected in order.
redbattles.insert(1, "nextchapter", 0)
redbattles['nextchapter'] = redbattles['chronological'].shift(-1)
redbattles['nextchapter'] = redbattles['nextchapter'].fillna(0)
redbattles['nextchapter'] = redbattles['nextchapter'].astype('int')

In [7]:
# Printing the shape, to confirm the size of the dataframes
print(f"The shape of the jobs table: {jobs.shape}")
print(f"The shape of the skills table: {skills.shape}")
print(f"The shape of the redbattles table: {redbattles.shape}")

The shape of the jobs table: (19, 24)
The shape of the skills table: (279, 4)
The shape of the redbattles table: (58, 23)

In [8]:
# Checking the stats of the jobs table 
display(jobs.describe())

,prereq_1_lvl,prereq_2_lvl,prereq_3_lvl,prereq_4_lvl,move,jump,speed,attack,magic,hp,mp,lvl_2_jp,lvl_3_jp,lvl_4_jp,lvl_5_jp,lvl_6_jp,lvl_7_jp,lvl_8_jp
count,17.000000,5.0,3.000000,1.0,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.0,19.0,19.0,19.0,19.0,19.0,19.0
mean,2.588235,4.0,2.333333,3.0,3.210526,3.210526,7.894737,2.789474,2.947368,2.578947,2.842105,200.0,350.0,550.0,800.0,1150.0,1550.0,2100.0
std,0.795206,0.0,0.577350,NaN,0.418854,0.418854,1.410072,0.917663,1.025978,0.837708,1.067872,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.000000,4.0,2.000000,3.0,3.000000,3.000000,3.000000,2.000000,1.000000,2.000000,1.000000,200.0,350.0,550.0,800.0,1150.0,1550.0,2100.0
25%,2.000000,4.0,2.000000,3.0,3.000000,3.000000,8.000000,2.000000,2.000000,2.000000,2.000000,200.0,350.0,550.0,800.0,1150.0,1550.0,2100.0
50%,2.000000,4.0,2.000000,3.0,3.000000,3.000000,8.000000,2.000000,3.000000,2.000000,3.000000,200.0,350.0,550.0,800.0,1150.0,1550.0,2100.0
75%,3.000000,4.0,2.500000,3.0,3.000000,3.000000,8.000000,4.000000,4.000000,3.000000,4.000000,200.0,350.0,550.0,800.0,1150.0,1550.0,2100.0
max,4.000000,4.0,3.000000,3.0,4.000000,4.000000,10.000000,4.000000,4.000000,4.000000,4.000000,200.0,350.0,550.0,800.0,1150.0,1550.0,2100.0

In [9]:
# Checking the stats of the jobs table 
display(skills.describe())

                jp
count   279.000000
mean    361.648746
std     274.236950
min       0.000000
25%     150.000000
50%     300.000000
75%     500.000000
max    1600.000000

In [10]:
# Checking the stats of the jobs table 
display(redbattles.describe())

,chronological,nextchapter,chapter,party_size,guests,enemy_1_level,enemy_2_level,enemy_3_level,enemy_4_level,enemy_5_level,enemy_6_level,enemy_7_level,enemy_8_level
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,53.000000,53.000000,50.000000,48.000000,44.000000,7.000000,2.000000
mean,29.500000,29.482759,2.896552,4.620690,0.775862,28.844828,27.245283,27.660377,27.380000,25.041667,25.659091,32.000000,25.000000
std,16.886879,16.916971,1.149976,0.812784,1.009483,18.178261,19.710311,20.303413,21.782684,17.205836,16.803852,14.236104,15.556349
min,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,14.000000
25%,15.250000,15.250000,2.000000,4.000000,0.000000,13.000000,11.000000,12.000000,9.500000,10.000000,11.750000,21.000000,19.500000
50%,29.500000,29.500000,3.000000,5.000000,0.500000,27.500000,25.000000,26.000000,25.000000,23.000000,25.000000,33.000000,25.000000
75%,43.750000,43.750000,4.000000,5.000000,1.000000,40.250000,37.000000,37.000000,35.750000,36.250000,36.250000,41.000000,30.500000
max,58.000000,58.000000,4.000000,5.000000,5.000000,77.000000,89.000000,89.000000,94.000000,72.000000,72.000000,52.000000,36.000000

In [11]:
# Fixing all the Thief misspellings in the dataframe
for col in ['job', 'prereq_1_job', 'prereq_2_job','prereq_3_job', 'prereq_4_job']:
    jobs.loc[jobs[col] == 'Theif', col] = 'Thief'
for col in ['enemy_1_job', 'enemy_2_job','enemy_3_job', 'enemy_4_job','enemy_5_job', 'enemy_6_job','enemy_7_job', 'enemy_8_job']:
    redbattles.loc[redbattles[col] == 'Theif', col] = 'Thief'
for col in ['job']:
    skills.loc[skills[col] == 'Theif', col] = 'Thief'

## Loading all the data into the Neo4J

For this, it's time to load the data into the Neo4J Database. In this case, I could load it from Python, but I really wanted to practice and learn Cypher. I learned it in the best way possible, lots of trial, even more error. :D

### Creating a contraint

Here, this is where I can set the restraints of the nodes. This is what prevents duplicate records or other restrictions.

In [12]:
# The Constraint to confirm that the job titles are unique and not null
gds.runCypher("CREATE CONSTRAINT jobnameunique FOR (n:Job) REQUIRE n.title IS UNIQUE")
gds.runCypher("CREATE CONSTRAINT jobnamenull FOR (n:Job) REQUIRE n.title IS NOT NULL")

Empty DataFrame
Columns: []
Index: []

In [13]:
# The Constraint to confirm that the job titles are unique and not null
gds.runCypher("CREATE CONSTRAINT chapternameunique FOR (n:Chapter) REQUIRE n.title IS UNIQUE")
gds.runCypher("CREATE CONSTRAINT chapternamenull FOR (n:Chapter) REQUIRE n.title IS NOT NULL")

Empty DataFrame
Columns: []
Index: []

In [14]:
# The Constraint to confirm that the job titles are not null. There are skills with the same name but different type
# gds.runCypher("CREATE CONSTRAINT skillnameunique FOR (n:Skill) REQUIRE n.title IS UNIQUE")
gds.runCypher("CREATE CONSTRAINT skillnamenull FOR (n:Skill) REQUIRE n.title IS NOT NULL")

Empty DataFrame
Columns: []
Index: []

In [15]:
# The Constraint to confirm that the job titles are unique and not null
gds.runCypher("CREATE CONSTRAINT stagesnameunique FOR (n:Stages) REQUIRE n.chronological IS UNIQUE")
gds.runCypher("CREATE CONSTRAINT stagesnamenull FOR (n:Stages) REQUIRE n.chronological IS NOT NULL")

Empty DataFrame
Columns: []
Index: []

In [16]:
# The Constraint to confirm that the job titles are unique and not null
gds.runCypher("CREATE CONSTRAINT typenameunique FOR (n:Type) REQUIRE (n.title, n.type) IS UNIQUE")
gds.runCypher("CREATE CONSTRAINT typenamenull FOR (n:Type) REQUIRE n.title IS NOT NULL")

Empty DataFrame
Columns: []
Index: []

In [17]:
# The Constraint to confirm that the job titles are unique and not null
gds.runCypher("CREATE CONSTRAINT typelocationunique FOR (n:Locations) REQUIRE n.title IS UNIQUE")
gds.runCypher("CREATE CONSTRAINT typelocationnull FOR (n:Locations) REQUIRE n.title IS NOT NULL")

Empty DataFrame
Columns: []
Index: []

### Loading in the data

#### Loading the jobs database
This table has all the jobs and the prerequisites

In [18]:
# Load Jobs Nodes
gds.runCypher(
    """
LOAD CSV WITH HEADERS FROM 'file:///fft_jobs.csv' AS row
CREATE (a:Job{
    title:row["job"],
    move:toInteger( row["move"]),
    jump:toInteger( row["jump"]),
    speed:toInteger( row["speed"]),
    physical_evade:row["physical_evade"],
    attack:toInteger( row["attack"]),
    magic:toInteger( row["magic"]),
    hp:toInteger( row["hp"]),
    mp:toInteger( row["mp"])
})
RETURN a.title, a.move, a.jump, a.speed, a.physical_evade, a.attack, a.magic, a.hp, a.mp;
    """
)

,a.title,a.move,a.jump,a.speed,a.physical_evade,a.attack,a.magic,a.hp,a.mp
0,Squire,4,3,6,5%,2,1,3,1
1,Chemist,3,3,8,5%,2,3,2,3
2,Knight,3,3,8,10%,4,3,4,3
3,Archer,3,3,8,10%,3,2,3,2
4,Priest,3,3,9,5%,3,4,2,4
5,Wizard,3,3,8,5%,2,4,2,4
6,Monk,3,4,9,20%,4,3,4,2
7,Thief,4,4,9,25%,3,2,3,2
8,Oracle,3,3,8,5%,2,4,2,4
9,Time Mage,3,3,8,5%,2,4,2,4
10,Geomancer,4,3,8,10%,4,4,4,4
11,Lancer,3,4,8,15%,4,1,4,2
12,Mediator,3,3,8,5%,2,3,2,2
13,Summoner,3,3,8,5%,2,4,2,4
14,Samuari,3,3,8,20%,4,3,2,4
15,Ninja,4,4,10,30%,4,3,2,2
16,Calculator,3,3,3,5%,2,2,2,3
17,Dancer,3,3,8,5%,2,2,2,1
18,Bard,3,3,8,5%,2,4,2,3

There is a typo in the Samurai tab. It needs to be corrected before the skills connections.

In [19]:
# There is a typo in Samurai table, fixing for future matching
gds.runCypher(
    """
    MATCH(sp:Job{title:"Samuari"}) SET sp.title = "Samurai"
    return sp.title;
    """
)
#! End of Jobs File

  sp.title
0  Samurai

In [20]:
# Load Relations of jobs and prerequisites
for i in range(1,5):
    gds.runCypher(f"""
LOAD CSV WITH HEADERS FROM 'file:///fft_jobs.csv' AS row
WITH row WHERE row['prereq_{i}_job'] IS NOT NULL
    MATCH (x:Job {{title:row['job']}})
    MATCH (a:Job {{title:row['prereq_{i}_job']}})
    CREATE (a)-[:prerequisite_of {{min_level:toInteger( row['prereq_{i}_lvl'])}}]->(x)
RETURN a.title, x.title;
    """)

In [21]:
gds.runCypher("MATCH (a:Job)-[x:prerequisite_of]->(b:Job) RETURN a.title, type(x), x.min_level, b.title")

      a.title          type(x)  x.min_level     b.title
0      Archer  prerequisite_of            2       Thief
1      Archer  prerequisite_of            3       Ninja
2     Chemist  prerequisite_of            2      Wizard
3     Chemist  prerequisite_of            2      Priest
4   Geomancer  prerequisite_of            2       Ninja
5   Geomancer  prerequisite_of            4      Dancer
6      Knight  prerequisite_of            2        Monk
7      Lancer  prerequisite_of            4      Dancer
8    Mediator  prerequisite_of            4        Bard
9        Monk  prerequisite_of            3   Geomancer
10     Oracle  prerequisite_of            3  Calculator
11     Oracle  prerequisite_of            2    Mediator
12     Priest  prerequisite_of            2      Oracle
13     Priest  prerequisite_of            4  Calculator
14     Squire  prerequisite_of            2      Archer
15     Squire  prerequisite_of            2      Knight
16   Summoner  prerequisite_of            4        Bard
17      Thief  prerequisite_of            4       Ninja
18      Thief  prerequisite_of            3      Lancer
19  Time Mage  prerequisite_of            3  Calculator
20  Time Mage  prerequisite_of            2    Summoner
21     Wizard  prerequisite_of            4  Calculator
22     Wizard  prerequisite_of            2   Time Mage

#### Loading the skills database

This table has all the skills connected to each job. This contains the category of each skill and the number of job points (JP) needed to buy the skill.

In [22]:
# Loads all Skill types
gds.runCypher(
    """
LOAD CSV WITH HEADERS FROM 'file:///fft_skills.csv' AS row
MERGE (t:Type{
    title:row["type"]
})
RETURN t.title;
    """
).head()

    t.title
0   Command
1   Command
2   Command
3   Command
4  Reaction

In [23]:
# This loads all skills Nodes
gds.runCypher(
    """
LOAD CSV WITH HEADERS FROM 'file:///fft_skills.csv' AS row
MERGE (s:Skill{
    title:row["name"],
    type: row["type"]
})
RETURN s.title;
    """
).head()

          s.title
0      Accumulate
1            Dash
2     Throw Stone
3            Heal
4  Counter Tackle

In [24]:
# This loads all relationships of jobs, skills and types
gds.runCypher(
    """
LOAD CSV WITH HEADERS FROM 'file:///fft_skills.csv' AS row
WITH row
    MATCH (j:Job {title:row['job']})
    MATCH (s:Skill {title:row['name'], type:row['type']})
    CREATE (j)-[x:has_skill {jp:toInteger(row["jp"])}]->(s)
RETURN j.title, type(x), x.jp, s.title;
    """
)
#! End of Skills file

    j.title    type(x)  x.jp         s.title
0    Squire  has_skill   300      Accumulate
1    Squire  has_skill    80            Dash
2    Squire  has_skill    90     Throw Stone
3    Squire  has_skill   150            Heal
4    Squire  has_skill   180  Counter Tackle
..      ...        ...   ...             ...
274    Bard  has_skill   100       Last Song
275    Bard  has_skill   450         MA Save
276    Bard  has_skill   500         Face UP
277    Bard  has_skill  1000         Move +3
278    Bard  has_skill  1200             Fly

[279 rows x 4 columns]

In [25]:
# This loads all relationships of jobs, skills and types
gds.runCypher(
    """
LOAD CSV WITH HEADERS FROM 'file:///fft_skills.csv' AS row
WITH row
    MATCH (t:Type {title:row['type']})
    MATCH (s:Skill {title:row['name'], type:row['type']})
    CREATE (s)-[y:is_type]->(t)
RETURN t.title, type(y), s.title;
    """
)
#! End of Skills file

      t.title  type(y)         s.title
0     Command  is_type      Accumulate
1     Command  is_type            Dash
2     Command  is_type     Throw Stone
3     Command  is_type            Heal
4    Reaction  is_type  Counter Tackle
..        ...      ...             ...
274   Command  is_type       Last Song
275  Reaction  is_type         MA Save
276  Reaction  is_type         Face UP
277  Movement  is_type         Move +3
278  Movement  is_type             Fly

[279 rows x 3 columns]

In [26]:
# This loads all relationships of jobs, skills and types
gds.runCypher(
    """
    MERGE (j:Job)-[x:has_skill]->(s:Skill)
    RETURN j.title, type(x),x.jp, s.title
    """
)

    j.title    type(x)  x.jp         s.title
0    Squire  has_skill   200         Move +1
1    Squire  has_skill    80            Dash
2    Squire  has_skill    90     Throw Stone
3    Squire  has_skill    50          Defend
4    Squire  has_skill   180  Counter Tackle
..      ...        ...   ...             ...
274    Bard  has_skill  1000         Move +3
275    Bard  has_skill   100       Last Song
276    Bard  has_skill   100      Angel Song
277    Bard  has_skill   100      Cheer Song
278    Bard  has_skill   100  Namesless Song

[279 rows x 4 columns]

In [27]:
# This loads all relationships of jobs, skills and types
gds.runCypher(
    """
    MATCH (s:Skill)-[y:is_type]->(t:Type)
    RETURN s.title, type(y), t.title
    """
)

           s.title  type(y)   t.title
0            Sword  is_type   Command
1        Wiznaibus  is_type   Command
2           Cure 2  is_type   Command
3      Throw Stone  is_type   Command
4           Katana  is_type   Command
..             ...      ...       ...
274       Teleport  is_type  Movement
275        Move +3  is_type  Movement
276     Any Ground  is_type  Movement
277  Ignore Height  is_type  Movement
278        Jump +1  is_type  Movement

[279 rows x 3 columns]

#### Loading the red_battle database

This table has all the chapters and battles, with all the jobs of all the enemies connected to it.

In [28]:
# Loads all chapters in the game
gds.runCypher(
    """
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    MERGE (c:Chapter{
        title:toInteger(row["chapter"])
    })
    RETURN c.title;
    """
).head()

   c.title
0        1
1        1
2        1
3        1
4        1

In [29]:
# Loads all Stages in the game, and parameters
gds.runCypher(
    """
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    MERGE (l:Locations{
        title:row["location"]
    })
    RETURN l.title
    """
)

                                  l.title
0                       Orbonne Monastery
1                     Gariland Magic City
2                         Mandalia Plains
3                            Sweegy Woods
4                         Slums of Dorter
5                  Cellar of the Sand Rat
6                            Thieves Fort
7                         Lenalia Plateau
8                           Windmill Shed
9                            Fort Zeakden
10                      Dorter Trade City
11                          Araguay Woods
12                         Zirekile Falls
13                       Zaland Fort City
14                           Bariaus Hill
15                          Zigolis Swamp
16                Goud Machine City Slums
17                         Bariaus Valley
18               Golgorand Execution Site
19                    Lionel Castle Gates
20                   Inside Lionel Castle
21                       Goland Coal City
22            Back Gate of Lesalia Castle
23  Underground Book Storage Second Floor
24   Underground Book Storage Third Floor
25   Underground Book Storage First Floor
26                              Grog Hill
27                       Yardow Fort City
28                            Yuguo Woods
29        At the Gates of Riovanes Castle
30                 Inside Riovanes Castle
31                 Inside Riovanes Castle
32         On the Roof of Riovanes Castle
33                           Doguola Pass
34                     Bervenia Free City
35                           Finath River
36                       Zeltennia Castle
37                             Bed Desert
38          South Wall of Bethla Garrison
39          North Wall of Bethla Garrison
40   In Front of Bethla Garrison's Sluice
41                          Germinas Peak
42                           Poeskas Lake
43                  Limberry Castle Gates
44                 Inside Limberry Castle
45                  Under Limberry Castle
46                           Igros Castle
47                           Igros Castle
48                      St. Murond Temple
49              Hall of St. Murond Temple
50            Chapel of St. Murond Temple
51  Underground Book Storage Fourth Floor
52   Underground Book Storage Fifth Floor
53                      Murond Death City
54                  Lost Sacred Precincts
55                  Graveyard of Airships
56                  Graveyard of Airships
57                  Graveyard of Airships

In [30]:
# Loads all Stages in the game, and parameters
gds.runCypher(
    """
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    CREATE (s:Stages{
        chronological:row["chronological"],
        title:row["location"],
        win_condition:row["win_condition"],
        party_size:toInteger(row["party_size"]),
        guests:toInteger( row["guests"])
    })
    RETURN s.chronological, s.title, s.win_condition, s.party_size, s.guests
    """
)

,s.chronological,s.title,s.win_condition,s.party_size,s.guests
0,1,Orbonne Monastery,Defeat all enemies,1,5
1,2,Gariland Magic City,Defeat all enemies,5,1
2,3,Mandalia Plains,Defeat all enemies | Save ally,4,2
3,4,Sweegy Woods,Defeat all enemies,4,2
4,5,Slums of Dorter,Defeat all enemies,4,2
5,6,Cellar of the Sand Rat,Defeat all enemies,4,2
6,7,Thieves Fort,Defeat target,4,2
7,8,Lenalia Plateau,Defeat target,5,1
8,9,Windmill Shed,Defeat target,4,1
9,10,Fort Zeakden,Defeat target,4,1
10,11,Dorter Trade City,Defeat all enemies,4,2
11,12,Araguay Woods,Defeat all enemies | Save ally,4,3
12,13,Zirekile Falls,Save ally,4,3
13,14,Zaland Fort City,Defeat all enemies | Save ally,4,2
14,15,Bariaus Hill,Defeat all enemies,4,2
15,16,Zigolis Swamp,Defeat all enemies,5,1
16,17,Goud Machine City Slums,Defeat all enemies,5,1
17,18,Bariaus Valley,Save ally,5,1
18,19,Golgorand Execution Site,Defeat all enemies,5,0
19,20,Lionel Castle Gates,Defeat all enemies,4,0
20,21,Inside Lionel Castle,Defeat target,5,0
21,22,Goland Coal City,Save ally,5,1
22,23,Back Gate of Lesalia Castle,Defeat target,5,1
23,24,Underground Book Storage Second Floor,Defeat all enemies,5,0
24,25,Underground Book Storage Third Floor,Defeat target,5,0
25,26,Underground Book Storage First Floor,Defeat target,5,0
26,27,Grog Hill,Defeat all enemies,5,0
27,28,Yardow Fort City,Save ally,5,1
28,29,Yuguo Woods,Defeat all enemies,5,1
29,30,At the Gates of Riovanes Castle,Defeat all enemies,5,1
30,31,Inside Riovanes Castle,Defeat target,1,0
31,32,Inside Riovanes Castle,Defeat target,5,0
32,33,On the Roof of Riovanes Castle,Save ally,4,1
33,34,Doguola Pass,Defeat all enemies,5,0
34,35,Bervenia Free City,Defeat target,5,0
35,36,Finath River,Defeat all enemies,5,0
36,37,Zeltennia Castle,Defeat target,5,1
37,38,Bed Desert,Defeat target,5,0
38,39,South Wall of Bethla Garrison,Defeat all enemies,5,0
39,40,North Wall of Bethla Garrison,Defeat all enemies,5,0
40,41,In Front of Bethla Garrison's Sluice,Complete task,5,0
41,42,Germinas Peak,Defeat all enemies,5,0
42,43,Poeskas Lake,Defeat all enemies,5,0
43,44,Limberry Castle Gates,Defeat all enemies,5,0
44,45,Inside Limberry Castle,Defeat target,5,0
45,46,Under Limberry Castle,Defeat target,5,1
46,47,Igros Castle,Defeat target,5,1
47,48,Igros Castle,Defeat target,5,0
48,49,St. Murond Temple,Defeat all enemies,5,0
49,50,Hall of St. Murond Temple,Defeat target,5,0
50,51,Chapel of St. Murond Temple,Defeat target,5,0
51,52,Underground Book Storage Fourth Floor,Defeat all enemies,5,0
52,53,Underground Book Storage Fifth Floor,Defeat target,5,0
53,54,Murond Death City,Defeat target,5,0
54,55,Lost Sacred Precincts,Defeat target,5,0
55,56,Graveyard of Airships,Defeat target,5,0
56,57,Graveyard of Airships,Defeat target,5,1
57,58,Graveyard of Airships,Defeat target,5,1

In [31]:
# This loads all relationships of jobs, skills and types
gds.runCypher(
    """
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    WITH row
        MATCH (l:Locations {title:row['location']})
        MATCH (s:Stages {chronological:row["chronological"], title:row['location']})
        CREATE (s)-[x:located_at]->(l)
    RETURN l.title, type(x), s.title;
    """
)
#! End of Skills file

,l.title,type(x),s.title
0,Orbonne Monastery,located_at,Orbonne Monastery
1,Gariland Magic City,located_at,Gariland Magic City
2,Mandalia Plains,located_at,Mandalia Plains
3,Sweegy Woods,located_at,Sweegy Woods
4,Slums of Dorter,located_at,Slums of Dorter
5,Cellar of the Sand Rat,located_at,Cellar of the Sand Rat
6,Thieves Fort,located_at,Thieves Fort
7,Lenalia Plateau,located_at,Lenalia Plateau
8,Windmill Shed,located_at,Windmill Shed
9,Fort Zeakden,located_at,Fort Zeakden
10,Dorter Trade City,located_at,Dorter Trade City
11,Araguay Woods,located_at,Araguay Woods
12,Zirekile Falls,located_at,Zirekile Falls
13,Zaland Fort City,located_at,Zaland Fort City
14,Bariaus Hill,located_at,Bariaus Hill
15,Zigolis Swamp,located_at,Zigolis Swamp
16,Goud Machine City Slums,located_at,Goud Machine City Slums
17,Bariaus Valley,located_at,Bariaus Valley
18,Golgorand Execution Site,located_at,Golgorand Execution Site
19,Lionel Castle Gates,located_at,Lionel Castle Gates
20,Inside Lionel Castle,located_at,Inside Lionel Castle
21,Goland Coal City,located_at,Goland Coal City
22,Back Gate of Lesalia Castle,located_at,Back Gate of Lesalia Castle
23,Underground Book Storage Second Floor,located_at,Underground Book Storage Second Floor
24,Underground Book Storage Third Floor,located_at,Underground Book Storage Third Floor
25,Underground Book Storage First Floor,located_at,Underground Book Storage First Floor
26,Grog Hill,located_at,Grog Hill
27,Yardow Fort City,located_at,Yardow Fort City
28,Yuguo Woods,located_at,Yuguo Woods
29,At the Gates of Riovanes Castle,located_at,At the Gates of Riovanes Castle
30,Inside Riovanes Castle,located_at,Inside Riovanes Castle
31,Inside Riovanes Castle,located_at,Inside Riovanes Castle
32,On the Roof of Riovanes Castle,located_at,On the Roof of Riovanes Castle
33,Doguola Pass,located_at,Doguola Pass
34,Bervenia Free City,located_at,Bervenia Free City
35,Finath River,located_at,Finath River
36,Zeltennia Castle,located_at,Zeltennia Castle
37,Bed Desert,located_at,Bed Desert
38,South Wall of Bethla Garrison,located_at,South Wall of Bethla Garrison
39,North Wall of Bethla Garrison,located_at,North Wall of Bethla Garrison
40,In Front of Bethla Garrison's Sluice,located_at,In Front of Bethla Garrison's Sluice
41,Germinas Peak,located_at,Germinas Peak
42,Poeskas Lake,located_at,Poeskas Lake
43,Limberry Castle Gates,located_at,Limberry Castle Gates
44,Inside Limberry Castle,located_at,Inside Limberry Castle
45,Under Limberry Castle,located_at,Under Limberry Castle
46,Igros Castle,located_at,Igros Castle
47,Igros Castle,located_at,Igros Castle
48,St. Murond Temple,located_at,St. Murond Temple
49,Hall of St. Murond Temple,located_at,Hall of St. Murond Temple
50,Chapel of St. Murond Temple,located_at,Chapel of St. Murond Temple
51,Underground Book Storage Fourth Floor,located_at,Underground Book Storage Fourth Floor
52,Underground Book Storage Fifth Floor,located_at,Underground Book Storage Fifth Floor
53,Murond Death City,located_at,Murond Death City
54,Lost Sacred Precincts,located_at,Lost Sacred Precincts
55,Graveyard of Airships,located_at,Graveyard of Airships
56,Graveyard of Airships,located_at,Graveyard of Airships
57,Graveyard of Airships,located_at,Graveyard of Airships

In [32]:
# Loads all the relationships that put the stages in chronological order
for index, row in redbattles.iterrows():
    cyphertext = f"""
    MATCH (c:Stages {{ chronological: "{row['chronological']}" }})
    MATCH (s:Stages {{ chronological: "{row['nextchapter']}" }})
    CREATE (c)-[:next_battle]->(s)
    RETURN c.title,s.title;
    """
#     print(cyphertext)
    gds.runCypher(cyphertext)

In [33]:
# Testing the new next_battle relationship
gds.runCypher(
    """
    MATCH (c:Stages)-[x:next_battle]->(s:Stages)
    RETURN c.chronological, c.title, type(x), s.chronological, s.title;
    """
)

,c.chronological,c.title,type(x),s.chronological,s.title
0,1,Orbonne Monastery,next_battle,2,Gariland Magic City
1,10,Fort Zeakden,next_battle,11,Dorter Trade City
2,11,Dorter Trade City,next_battle,12,Araguay Woods
3,12,Araguay Woods,next_battle,13,Zirekile Falls
4,13,Zirekile Falls,next_battle,14,Zaland Fort City
5,14,Zaland Fort City,next_battle,15,Bariaus Hill
6,15,Bariaus Hill,next_battle,16,Zigolis Swamp
7,16,Zigolis Swamp,next_battle,17,Goud Machine City Slums
8,17,Goud Machine City Slums,next_battle,18,Bariaus Valley
9,18,Bariaus Valley,next_battle,19,Golgorand Execution Site
10,19,Golgorand Execution Site,next_battle,20,Lionel Castle Gates
11,2,Gariland Magic City,next_battle,3,Mandalia Plains
12,20,Lionel Castle Gates,next_battle,21,Inside Lionel Castle
13,21,Inside Lionel Castle,next_battle,22,Goland Coal City
14,22,Goland Coal City,next_battle,23,Back Gate of Lesalia Castle
15,23,Back Gate of Lesalia Castle,next_battle,24,Underground Book Storage Second Floor
16,24,Underground Book Storage Second Floor,next_battle,25,Underground Book Storage Third Floor
17,25,Underground Book Storage Third Floor,next_battle,26,Underground Book Storage First Floor
18,26,Underground Book Storage First Floor,next_battle,27,Grog Hill
19,27,Grog Hill,next_battle,28,Yardow Fort City
20,28,Yardow Fort City,next_battle,29,Yuguo Woods
21,29,Yuguo Woods,next_battle,30,At the Gates of Riovanes Castle
22,3,Mandalia Plains,next_battle,4,Sweegy Woods
23,30,At the Gates of Riovanes Castle,next_battle,31,Inside Riovanes Castle
24,31,Inside Riovanes Castle,next_battle,32,Inside Riovanes Castle
25,32,Inside Riovanes Castle,next_battle,33,On the Roof of Riovanes Castle
26,33,On the Roof of Riovanes Castle,next_battle,34,Doguola Pass
27,34,Doguola Pass,next_battle,35,Bervenia Free City
28,35,Bervenia Free City,next_battle,36,Finath River
29,36,Finath River,next_battle,37,Zeltennia Castle
30,37,Zeltennia Castle,next_battle,38,Bed Desert
31,38,Bed Desert,next_battle,39,South Wall of Bethla Garrison
32,39,South Wall of Bethla Garrison,next_battle,40,North Wall of Bethla Garrison
33,4,Sweegy Woods,next_battle,5,Slums of Dorter
34,40,North Wall of Bethla Garrison,next_battle,41,In Front of Bethla Garrison's Sluice
35,41,In Front of Bethla Garrison's Sluice,next_battle,42,Germinas Peak
36,42,Germinas Peak,next_battle,43,Poeskas Lake
37,43,Poeskas Lake,next_battle,44,Limberry Castle Gates
38,44,Limberry Castle Gates,next_battle,45,Inside Limberry Castle
39,45,Inside Limberry Castle,next_battle,46,Under Limberry Castle
40,46,Under Limberry Castle,next_battle,47,Igros Castle
41,47,Igros Castle,next_battle,48,Igros Castle
42,48,Igros Castle,next_battle,49,St. Murond Temple
43,49,St. Murond Temple,next_battle,50,Hall of St. Murond Temple
44,5,Slums of Dorter,next_battle,6,Cellar of the Sand Rat
45,50,Hall of St. Murond Temple,next_battle,51,Chapel of St. Murond Temple
46,51,Chapel of St. Murond Temple,next_battle,52,Underground Book Storage Fourth Floor
47,52,Underground Book Storage Fourth Floor,next_battle,53,Underground Book Storage Fifth Floor
48,53,Underground Book Storage Fifth Floor,next_battle,54,Murond Death City
49,54,Murond Death City,next_battle,55,Lost Sacred Precincts
50,55,Lost Sacred Precincts,next_battle,56,Graveyard of Airships
51,56,Graveyard of Airships,next_battle,57,Graveyard of Airships
52,57,Graveyard of Airships,next_battle,58,Graveyard of Airships
53,6,Cellar of the Sand Rat,next_battle,7,Thieves Fort
54,7,Thieves Fort,next_battle,8,Lenalia Plateau
55,8,Lenalia Plateau,next_battle,9,Windmill Shed
56,9,Windmill Shed,next_battle,10,Fort Zeakden

In [34]:
# Loads all connections to Chapters and Stages
gds.runCypher(
    """
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    WITH row
        MATCH (c:Chapter {title:toInteger(row["chapter"])})
        MATCH (s:Stages {chronological:row["chronological"]})
        CREATE (s)-[x:in_chapter]->(c)
    RETURN c.title, type(x), s.chronological, s.title;
    """
)

    c.title     type(x) s.chronological                                s.title
0         1  in_chapter               1                      Orbonne Monastery
1         1  in_chapter               2                    Gariland Magic City
2         1  in_chapter               3                        Mandalia Plains
3         1  in_chapter               4                           Sweegy Woods
4         1  in_chapter               5                        Slums of Dorter
5         1  in_chapter               6                 Cellar of the Sand Rat
6         1  in_chapter               7                           Thieves Fort
7         1  in_chapter               8                        Lenalia Plateau
8         1  in_chapter               9                          Windmill Shed
9         1  in_chapter              10                           Fort Zeakden
10        2  in_chapter              11                      Dorter Trade City
11        2  in_chapter              12                          Araguay Woods
12        2  in_chapter              13                         Zirekile Falls
13        2  in_chapter              14                       Zaland Fort City
14        2  in_chapter              15                           Bariaus Hill
15        2  in_chapter              16                          Zigolis Swamp
16        2  in_chapter              17                Goud Machine City Slums
17        2  in_chapter              18                         Bariaus Valley
18        2  in_chapter              19               Golgorand Execution Site
19        2  in_chapter              20                    Lionel Castle Gates
20        2  in_chapter              21                   Inside Lionel Castle
21        3  in_chapter              22                       Goland Coal City
22        3  in_chapter              23            Back Gate of Lesalia Castle
23        3  in_chapter              24  Underground Book Storage Second Floor
24        3  in_chapter              25   Underground Book Storage Third Floor
25        3  in_chapter              26   Underground Book Storage First Floor
26        3  in_chapter              27                              Grog Hill
27        3  in_chapter              28                       Yardow Fort City
28        3  in_chapter              29                            Yuguo Woods
29        3  in_chapter              30        At the Gates of Riovanes Castle
30        3  in_chapter              31                 Inside Riovanes Castle
31        3  in_chapter              32                 Inside Riovanes Castle
32        3  in_chapter              33         On the Roof of Riovanes Castle
33        4  in_chapter              34                           Doguola Pass
34        4  in_chapter              35                     Bervenia Free City
35        4  in_chapter              36                           Finath River
36        4  in_chapter              37                       Zeltennia Castle
37        4  in_chapter              38                             Bed Desert
38        4  in_chapter              39          South Wall of Bethla Garrison
39        4  in_chapter              40          North Wall of Bethla Garrison
40        4  in_chapter              41   In Front of Bethla Garrison's Sluice
41        4  in_chapter              42                          Germinas Peak
42        4  in_chapter              43                           Poeskas Lake
43        4  in_chapter              44                  Limberry Castle Gates
44        4  in_chapter              45                 Inside Limberry Castle
45        4  in_chapter              46                  Under Limberry Castle
46        4  in_chapter              47                           Igros Castle
47        4  in_chapter              48                           Igros Castle
48        4  in_chapter              49                      St. Murond Temple
49        4  in_chapter              50              Hall of St. Murond Temple
50        4  in_chapter              51            Chapel of St. Murond Temple
51        4  in_chapter              52  Underground Book Storage Fourth Floor
52        4  in_chapter              53   Underground Book Storage Fifth Floor
53        4  in_chapter              54                      Murond Death City
54        4  in_chapter              55                  Lost Sacred Precincts
55        4  in_chapter              56                  Graveyard of Airships
56        4  in_chapter              57                  Graveyard of Airships
57        4  in_chapter              58                  Graveyard of Airships

In [35]:
# Loads all the jobs from the enemy pool, but only unique names, and making non-playable flag for jobs not in user pool
for i in range(1,9):
    cyphertext = f"""
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    WITH row WHERE row['enemy_{i}_job'] IS NOT NULL
        MERGE (a:Job{{title:row['enemy_{i}_job']}})
            ON CREATE SET a.NonPlayable = True
    RETURN count(a);
    """
    gds.runCypher(cyphertext)

In [36]:
# Hydra is spelled wrong, creating new node to fix relations below
gds.runCypher(
    """
        CREATE (a:Job{title:"Hydra", NonPlayable: True})
        return a.title, a.NonPlayable;
    """
)

  a.title  a.NonPlayable
0   Hydra           True

In [37]:
# Testing the Jobs table with the new NonPlayable stat
gds.runCypher(
    """
MATCH (c:Job)
RETURN c.title, c.move, c.jump, c.speed, c.physical_evade, c.attack, c.magic, c.hp, c.mp, c.NonPlayable
ORDER BY c.title;
    """
)

,c.title,c.move,c.jump,c.speed,c.physical_evade,c.attack,c.magic,c.hp,c.mp,c.NonPlayable
0,Apanda,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
1,Archaeic Demon,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
2,Archaic Demon,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
3,Archer,3.0,3.0,8.0,10%,3.0,2.0,3.0,2.0,None
4,Assassin,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
5,Bard,3.0,3.0,8.0,5%,2.0,4.0,2.0,3.0,None
6,Black Chocobo,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
7,Black Goblin,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
8,Black Mage,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
9,Bomb,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
10,Bone Snatch,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
11,Calculator,3.0,3.0,3.0,5%,2.0,2.0,2.0,3.0,None
12,Chemist,3.0,3.0,8.0,5%,2.0,3.0,2.0,3.0,None
13,Chocobo,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
14,Dancer,3.0,3.0,8.0,5%,2.0,2.0,2.0,1.0,None
15,Dark Behemoth,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
16,Engineer,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
17,Flotiball,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
18,Geomancer,4.0,3.0,8.0,10%,4.0,4.0,4.0,4.0,None
19,Ghost,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
20,Ghoul,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
21,Goblin,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
22,Hydra,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
23,Hyrda,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
24,Hyudra,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
25,Knight,3.0,3.0,8.0,10%,4.0,3.0,4.0,3.0,None
26,Lancer,3.0,4.0,8.0,15%,4.0,1.0,4.0,2.0,None
27,Legendary,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
28,Living Bone,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
29,Mediator,3.0,3.0,8.0,5%,2.0,3.0,2.0,2.0,None
30,Monk,3.0,4.0,9.0,20%,4.0,3.0,4.0,2.0,None
31,Ninja,4.0,4.0,10.0,30%,4.0,3.0,2.0,2.0,None
32,Oracle,3.0,3.0,8.0,5%,2.0,4.0,2.0,4.0,None
33,Priest,3.0,3.0,9.0,5%,3.0,4.0,2.0,4.0,None
34,Red Chocobo,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
35,Red Panther,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
36,Revnant,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
37,Samurai,3.0,3.0,8.0,20%,4.0,3.0,2.0,4.0,None
38,Skeleton,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
39,Spirit,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
40,Squire,4.0,3.0,6.0,5%,2.0,1.0,3.0,1.0,None
41,Summoner,3.0,3.0,8.0,5%,2.0,4.0,2.0,4.0,None
42,Theif,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
43,Thief,4.0,4.0,9.0,25%,3.0,2.0,3.0,2.0,None
44,Tiamat,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
45,Time Mage,3.0,3.0,8.0,5%,2.0,4.0,2.0,4.0,None
46,Ultima Demon,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,True
47,Wizard,3.0,3.0,8.0,5%,2.0,4.0,2.0,4.0,None

In [38]:
# Connects all the enemies into the jobs
for i in range(1,9):
    cyphertext = f"""
    LOAD CSV WITH HEADERS FROM 'file:///fft_red-battles.csv' AS row
    WITH row WHERE row['enemy_{i}_job'] IS NOT NULL
        MATCH (j:Job {{title:row['enemy_{i}_job']}})
        MATCH (s:Stages {{chronological:row["chronological"]}})
        CREATE (s)-[:has_enemy {{level:toInteger(row['enemy_{i}_level'])}}]->(j)
    RETURN *;
    """
    gds.runCypher(cyphertext)

In [39]:
# Checking the has_enemy relationship
gds.runCypher(
    """
MATCH (s:Stages)-[x:has_enemy]->(j:Job)
RETURN s.chronological, s.title, type(x), j.title
ORDER BY s.chronological;
    """
)

    s.chronological            s.title    type(x)    j.title
0                 1  Orbonne Monastery  has_enemy     Archer
1                 1  Orbonne Monastery  has_enemy     Archer
2                 1  Orbonne Monastery  has_enemy     Archer
3                 1  Orbonne Monastery  has_enemy    Chemist
4                 1  Orbonne Monastery  has_enemy     Knight
..              ...                ...        ...        ...
310               9      Windmill Shed  has_enemy     Knight
311               9      Windmill Shed  has_enemy       Monk
312               9      Windmill Shed  has_enemy       Monk
313               9      Windmill Shed  has_enemy    Chocobo
314               9      Windmill Shed  has_enemy  Legendary

[315 rows x 4 columns]

In [40]:
# There is a case where Hydra is spelled wrong, so this will fix it.
gds.runCypher(
    """
MATCH (n1:Stages)-[r1:has_enemy]->(jold:Job) WHERE n1.chronological = "55" AND (jold.title = "Hyudra" OR jold.title="Hyrda")
MATCH (jnew:Job) WHERE jnew.title = "Hydra"
CREATE (n1)-[r2:has_enemy]->(jnew)
SET r2=r1
DELETE r1, jold;
    """
)

Empty DataFrame
Columns: []
Index: []

In [41]:
# There is a case where Thief is spelled wrong, so this will fix it.
gds.runCypher(
    """
MATCH (n1:Stages)-[r1:has_enemy]->(jold:Job) WHERE n1.chronological = "42" AND jold.title = "Theif"
MATCH (jnew:Job) WHERE jnew.title = "Thief"
CREATE (n1)-[r2:has_enemy]->(jnew)
SET r2=r1
DELETE r1, jold;
    """
)
#! End of redbattle file

Empty DataFrame
Columns: []
Index: []